.footer {
  opacity: 0.3;
  opacity: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.footer_filled {
  background-color: #000000;
  border-top: 1px solid #333333;
}

.allcolumn_section {
  width: 100vw;
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.bottom_section {
  height: 100%;
  border-top: 1px solid #333333;
  display: flex;
  padding: 2rem 6rem;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.leftside_bottom_section {
  display: flex;
  height: 100%;
  width: 1/3;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

.logo_footer {
  width: 105px;
  height: 26px;
  margin-right: 8rem;
}

.term_privacy {
  color: white;
}

.middle_bottom_section {
  display: flex;
  align-items: center;
  align-content: center;
  width: 1/3;
}

.teritori2022 {
  color: #777777;
}

.right_bottom_section {
  /* FIXME: overlaps with content on small height screens */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 1/3;
  min-height: var(--footer-height);
}

.FooterButton {
  border: 1px solid #1b1e1f;
  width: 32px;
  padding: 5px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 8px;
  transition: opacity 0.2s;
}

.FooterButton:hover {
  opacity: 0.7;
}
